/* Container */
.hero-container {
  background: linear-gradient(to right, #fde68a, #fcd34d);
  position: relative;
  overflow: hidden;
}

/* Text Content */
.hero-text-content {
  padding: 10px; /* Adjusted padding for smaller screens */
  z-index: 10;
}

/* Image Section */
.hero-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.hero-image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.hero-image:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

/* Bubble Background */
.bubble-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.bubble {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  opacity: 0.6;
  animation: float 15s infinite;
}

.bubble-1 {
  width: 80px;
  height: 80px;
  left: 10%;
  animation-duration: 12s;
}

.bubble-2 {
  width: 120px;
  height: 120px;
  left: 25%;
  animation-duration: 18s;
  animation-delay: 2s;
}

.bubble-3 {
  width: 60px;
  height: 60px;
  left: 40%;
  animation-duration: 10s;
  animation-delay: 4s;
}

.bubble-4 {
  width: 100px;
  height: 100px;
  left: 55%;
  animation-duration: 20s;
  animation-delay: 6s;
}

.bubble-5 {
  width: 50px;
  height: 50px;
  left: 70%;
  animation-duration: 15s;
}

.bubble-6 {
  width: 150px;
  height: 150px;
  left: 85%;
  animation-duration: 25s;
  animation-delay: 8s;
}

/* Bubble Float Animation */
@keyframes float {
  0% {
    bottom: -10%;
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    bottom: 110%;
    transform: translateX(-20px);
  }
}
